body {
  height: 100vh;
}
.section {
  height: 100%;
}
.section:nth-child(1) {
  background-color: rgb(188, 219, 225);
}
.text-color{
  color: rgb(7, 30, 62);
}
.nav-link:hover{
  color: rgb(56, 88, 118);
  text-decoration: underline;
}

.logo{
  font-family: 'Belleza', sans-serif;
  font-size: 10vw;
  font-weight: 900;
}
.button{
  border: 1px solid rgb(7, 30, 62);
  outline: none;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 1rem 5rem;
  transition: border 0.5s;
}
.button>a{
  text-decoration: none;
}
.button>a:hover{
  color: rgb(7, 30, 62);
}
.button:hover{
  border: 1px solid aliceblue;
}

.down{
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 1px solid rgb(7, 30, 62);
  border-right:1px solid rgb(7, 30, 62);
}
#table-relavtive{
  position: relative;
}
#table-loader{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(228, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}
#table-loader>.waiting{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: 4px solid transparent;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  animation: loader;
  animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform: rotate(0deg);
}
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}